
header {
	background: #fff;
}

header a {
	color: #000;
}

header h1 {
	color: #000;
	font-size: 18px;
}
.mui-content{
	margin-bottom: 55px;
}
.mui-bar-nav.mui-bar {
	box-shadow: none;
	background: #fff;
}
.address-mess{
	margin-top: 11px;
	background: #fff;
}
.username{
	padding: 15px;
}
.username h5{
	color: #222;
	font-size: 15px;
}
.username p{
	color: #aaa;
	font-size: 13px;
}
.radio-checked:before{
	background-color: #E1E1E1;
}
.radio-checked:after{
	height: 0;
}
.radio-checked{
	margin: 0;
	margin-left: 15px;
	padding: 0;
}
.mui-radio.mui-left input[type=radio]{
	left: 0;
	top: 7px;
}
.radio-checked li{
	color: #222;
	font-size: 13px;
	list-style:none;
	height: 43px;
	line-height: 43px;
	padding-right: 15px;
}
.radio-checked li:before{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #E1E1E1
}
.radio-checked .mui-radio.mui-left{
	padding-left: 36px;
}
.radio-checked .mui-radio.mui-left span{
	font-size: 13px;
	color: #ccc;
}

.radio-checked .mui-radio.mui-left img{
	    vertical-align: sub;
	    margin: 0 5px 0 23px;
}
.mui-table-view-cell.mui-active{
	   background: transparent;
}
.add-btn button.mui-btn.mui-btn-block {
	background: linear-gradient(to right, #ff4510, #ff6900);
	height: 45px;
	border-radius: 22px;
	border: none;
	line-height: 45px;
	padding: 0;
}
.mui-bar-tab{
	height: 45px;
	box-shadow: none;
}
.add-btn .link-area {
	text-align: center;
}

.add-btn .link-area a:first-child {
	font-size: 14px;
	color: #FF4510;
	margin-right: 55px;
}

.add-btn .link-area a:last-child {
	font-size: 14px;
	color: #aaa;
}
.mui-bar .mui-btn{
	top: 0;
}
.mui-radio input[type=radio]:checked:before{
	content:'\e442'
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
	color: #ff4e0c;
}
/*删除弹框*/
.mui-popup-title{
	font-size: 15px;
	text-align: left;
	color: #222;
	font-weight: normal;
}
.mui-popup-title span{
	font-size: 30px;
    color: #b1b1b1;
}
.mui-popup-title+.mui-popup-text{
	font-size: 13px;
	color: #aaa;
	text-align: left;
}
.mui-popup-inner:after{
	height: 0;
}
.mui-popup-button:after{
	width: 0;
}
.mui-popup-button.mui-popup-button-bold{
	font-weight: normal;
}
.mui-popup-buttons{
	background-color: #fff;
	height: 55px;
	padding: 0 15px;
}
.mui-popup-buttons .mui-popup-button{
	font-size: 15px;
	width: 125px;
	height: 45px;
	line-height: 45px;
	color: #2e3133;
	background-color: #e1e1e1;
	border-radius: 5px;
}
.mui-popup-button:first-child{
	background: linear-gradient(to right, #ff4510, #ff6900);
	color: #fff;
	margin-right: 10px;
}

