html,
header ,.mui-content{
	background: #fff;
}

header a {
	color: #000;
}

header h1 {
	color: #000;
	font-size: 18px;
}

.mui-bar-nav.mui-bar {
	box-shadow: none;
	background: #fff;
}
/*标题*/
.mui-bar-tab {
    top: 65px;
	box-shadow: none;    
	padding: 0 15px;
}
.mui-bar-tab .mui-tab-item{
	font-size: 14px;
	color: #222;
	text-align: left;
}
.mui-bar-tab .mui-tab-item:nth-child(2),.mui-bar-tab .mui-tab-item:nth-child(4){
	text-align: right;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color: #222;
}
/*内容*/
.mui-table-view{
}
.mui-table-view:before,.mui-table-view:after{
	height: 0;
}
.mui-content>.mui-table-view:first-child {
     margin-top: 0; 
}
.mui-table-view h3{
	font-size: 13px;
	color: #aaa;
	padding: 0 15px;
	font-weight: normal;
	    margin: 0;
	    height: 33px;
    line-height: 33px;
}
.mui-table-view-cell{
	display:flex;
	justify-content: space-between;
	padding: 25px 15px;
}
.mui-table-view-cell:before{
	position: absolute;
    right: 0;
    top: 0;
    left: 15px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
	background-color: #E1E1E1;
}
.mui-table-view-cell:after{
	left: 15px;
	background-color: #E1E1E1;
}
.mui-table-view-cell span:first-child{
	font-size:14px;
	color: #222;
}

.mui-table-view-cell span:nth-child(2).add{
	font-size:16px;
	color: #FF4510;
}
.mui-table-view-cell span:nth-child(2).reduce{
	font-size:16px;
	color: #222;
}
.mui-table-view-cell span:nth-child(4){
	font-size:14px;
	color: #222;
}
