html,
header ,.mui-content{
	background: #fff;
}

header a {
	color: #000;
}

header h1 {
	color: #000;
	font-size: 18px;
}

.mui-bar-nav.mui-bar {
	box-shadow: none;
	background: #fff;
}
/*选择时间*/
.choose-month{
	overflow: hidden;
	height: 50px;
	line-height: 50px;
	background-color: #f2f2f2;
	padding: 0 15px;
}
.choose-month button{
	background-color: transparent;
	border: none;
	height: 100%;
	padding: 0;
	font-size: 16px;
	color: #222;
}
.choose-month button img{
	margin-left: 5px;
	vertical-align: middle;
}
.choose-month span{
	font-size: 13px;
	color: #999;
}
.mui-btn-blue, .mui-btn-primary, input[type=submit]{
	background-color: #FF4510;
	border-color: #FF4510;
}
/*顾客列表*/
.mui-table-view:before,.mui-table-view:after{
	height: 0;
}
.mui-table-view-cell:after{
	left: 70px;
}
.mui-table-view .mui-table-view-cell{
	padding: 13px 15px;
}

.mui-table-view-cell>a:not(.mui-btn).mui-active{
	background-color: transparent;
}
.mui-table-view .mui-table-view-cell .mui-media-object{
	overflow: hidden;
	max-width: 45px;
	height: 45px;
	line-height: 45px;
}

.mui-table-view .mui-table-view-cell .mui-media-object img{
	max-width: 100%;
}

.mui-table-view .mui-table-view-cell .mui-media-body{
	font-size: 16px;
	color: #222;
}
.mui-table-view .mui-table-view-cell .mui-media-body p{
	font-size: 11px;
	color: #aaa;
	margin-top: 5px;
}
