.mui-content{
	padding: 0 15px 50px;
    background-color: #f2f2f2;
}
.mui-content>.mui-table-view:first-child {
     margin-top: 0; 
}
.mui-table-view{
	background-color: #f2f2f2;
}.mui-table-view:before,.mui-table-view:after,.mui-table-view-cell:after{
	height: 0;
}
.mui-table-view-cell{
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 5px;
	font-size: 15px;
	color: #aaa;
	background-color: #fff;
}
.mui-table-view-cell.mui-active{
	background-color: transparent;	
}
/*底部按钮*/

.mui-bar-tab.mui-bar {
	box-shadow: none;
	border-top: 1px solid #E1E1E1;
	z-index: 9999;
	bottom: 0;
}

.mui-bar-tab .mui-tab-item:first-child {
	background-color: #fff;
	color: #a2a6a8;
	font-size: 15px;
}
.mui-bar-tab .mui-tab-item:nth-child(2) {
	background-color: #ff7e00;
	color: #fff;
	font-size: 17px;
}
.mui-bar-tab .mui-tab-item:nth-child(3) {
	background-color: #ff4510;
	color: #fff;
	font-size: 17px;
}

.mui-bar-tab .mui-tab-item:first-child i {
	font-style: normal;
}