<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>菜鸟网络-吉犁APPV1.0-开店子页面</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css" />
		<link rel="stylesheet" href="../../../css/mobile/setshop/open_collage.css" />
	</head>

	<body style="background: #f2f2f2;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">开团</h1>
		</header>
		<div class="mui-content">
			<div class="add-product-photo">
				<div class="">
					<a href="#choose-img">
						<img src="" />
					</a>
				</div>
			</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">

						<div class="mui-input-row">
							<label>类别</label>
							<input id="commodityTypeCode" type="text" readonly="readonly" class="" v-model="commoditySample.commodityTypeContent" :placeholder="commoditySample.commodityTypeContent">
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">

					<div class="mui-input-row">
						<label>条码</label>
						<input id="barCode" type="text" readonly="readonly" class="" v-model="commoditySample.barCode" :placeholder="commoditySample.barCode">
					</div>
				</li>
			</ul>
			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell">

					<div class="mui-input-row">
						<label>品名</label>
						<input id="commodityName" type="text" readonly="readonly" class="" v-model="commoditySample.commodityName" :placeholder="commoditySample.commodityName">
					</div>
				</li>
				<li class="mui-table-view-cell">

					<div class="mui-input-row">
						<label>单位</label>
						<input id="unit" type="text" readonly="readonly" class="" v-model="commoditySample.unit" :placeholder="commoditySample.unit">
					</div>
				</li>
				<li class="mui-table-view-cell">

					<div class="mui-input-row">
						<label>单价（元）</label>
						<input id="unitPrice" type="number" class="" placeholder="请输入您的商品单价">
					</div>
				</li>
				<li class="mui-table-view-cell">

					<div class="mui-input-row">
						<label>拼团价（元）</label>
						<input id="unitPrice" type="number" class="" placeholder="请输入拼团价">
					</div>
				</li>
				<li class="mui-table-view-cell">
					上下架
					<div class="mui-switch mui-switch-blue mui-switch-mini mui-active">
						<div class="mui-switch-handle"></div>
					</div>
				</li>
				<li class="mui-table-view-cell">
					散团/开团
					<div class="mui-switch mui-switch-blue mui-switch-mini mui-active">
						<div class="mui-switch-handle"></div>
					</div>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">

					<div class="mui-input-row">
						<label style="width: 20%;">备注</label>
						<textarea id="commodityDescribe" style="width: 75%;" type="text" class="" v-model="commoditySample.commodityDescribe" :placeholder="commoditySample.commodityDescribe"></textarea>
					</div>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<div class="mui-input-row">
							<label>开始时间</label>
							<input id="commodityName" type="text" readonly="readonly" class="" placeholder="请选择">
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						<div class="mui-input-row">
							<label>结束时间</label>
							<input id="unit" type="text" readonly="readonly" class="" placeholder="请选择">
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">

					<div class="mui-input-row">
						<label>目标数量</label>
						<input id="unitPrice" type="number" class="" placeholder="500">
					</div>
				</li>
				<li class="mui-table-view-cell">

					<div class="mui-input-row">
						<label>已拼数量</label>
						<input id="unitPrice" type="number" class="" placeholder="200">
					</div>
				</li>
				<li class="mui-table-view-cell">

					<div class="mui-input-row">
						<label>未拼数量</label>
						<input id="unitPrice" type="number" class="" placeholder="300">
					</div>
				</li>
			</ul>
		</div>
		<nav class="mui-bar sure-btn">
			<button v-tap="addMyShop" class="mui-btn mui-btn-block mui-btn-primary">确认</button>
		</nav>
		<div id="choose-img" class="mui-popover mui-popover-bottom mui-popover-action ">
			<!-- 可选择菜单 -->
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#">拍照</a>
				</li>
				<li class="mui-table-view-cell">
					<a href="#">我的相册</a>
				</li>
			</ul>
			<!-- 取消菜单 -->
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#choose-img"><b style="font-weight: normal;">取消</b></a>
				</li>
			</ul>
		</div>
	</body>
	<script src="../../../js/jquery-1.7.2.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/mui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/immersed.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/muiHelper.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/Vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/Vue/vue-tap-click.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../js/mobile/setshop/open_collage.js" type="text/javascript" charset="utf-8"></script>

</html>