.mui-bar {
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: none;
	background-color: #fff;
}
.mui-bar .mui-input-row{
	width: 85%
}
.mui-bar input[type=search] {
	width: 100%;
	border-radius: 13px;
	height: 26px;
	line-height: 26px;
	font-size: 13px;
	color: #222;
	background-color: #f2f2f2;
}

.mui-bar button {
	font-size: 15px;
	background: #fff;
	padding: 0;
	color: #aaa;
	border: none;
	margin-top: 8px;
}

.mui-bar button:enabled:active {
	color: #aaa;
	background-color: #fff;
}
.mui-bar .mui-input-row .mui-input-clear~.mui-icon-clear{
	top: -1px;
}
.mui-table-view{
	padding-left: 15px;
}.mui-table-view:before,.mui-table-view:after{
	height: 0;
}
.mui-table-view-cell:after{
	background-color: #E1E1E1;
	left: 0;
}

.mui-table-view-cell{
	height: 50px;
	line-height: 50px;
	padding: 0;
	font-size: 15px;
	color: #aaa;
}
