.mui-bar-nav {
	box-shadow: none;
	background: #fff;
}

.mui-bar-nav h1 {
	font-size: 18px;
	color: #000;
}
.mui-bar-nav a {
	font-size: 15px;
	color: #222;
}
/*地图位置*/
.map-position{
	/*background: url(../../../images/map_01.png) no-repeat;*/
	width: 100%;
	/*height: 350px;*/
	background-size: 100% 100%;
	padding: 1px 55px;
    margin-left: 34px
}
.map-position .mui-input-row{
	margin-top: 35px;
}

/*搜索*/
.mui-search input[type=search]{
	background-color: #fff;
	border-radius: 17px;
	height: 34px;
	line-height: 34px;
	font-size: 15px;
	color: #aaa;
	width: 100%;
	padding: 10px 27px;
}

/*新增地图位置*/
#map{
	width: 100%;
	height: 230px;
	position: fixed;
	top: 84px;
	bottom: 0px;
	line-height: 200px;
	text-align: center;
	background: #FFFFFF;
}


.mui-table-view:before,.mui-table-view:after{
	height: 0;	
}
.mui-table-view .mui-table-view-cell {
	height: 50px;
	line-height: 50px;
	padding: 0 0 0 15px;
}

.mui-table-view a {
	font-size: 16px;
	color: #222;
	
}
.mui-table-view-cell>a:not(.mui-btn){
	padding: 0;
	margin: 0;
}
.mui-table-view-cell>a:not(.mui-btn).mui-active{
	background: #fff;
}
.mui-table-view-radio .mui-table-view-cell>a:not(.mui-btn){
	margin-right: 0;
}
.mui-table-view-radio .mui-table-view-cell.mui-selected .mui-navigate-right:after{
	content: '\e442';
}

.mui-table-view-radio .mui-table-view-cell .mui-navigate-right:after{
	color: #FF4510;
	font-weight: normal;
	font-size: 25px;
}
.mui-table-view-radio .mui-table-view-cell:after{
	    background-color: #e1e1e1;
}

.search-button{
	color: #aaa;
	background: transparent;
	border: none;
	margin-top: 42px;
	padding: 0;
}
.mui-btn:enabled:active{
	color: #aaa;
	background: transparent;
}
