html,
header {
	background: #fff;
}

header a {
	color: #000;
}

header h1 {
	color: #000;
	font-size: 18px;
}

.mui-bar-nav.mui-bar {
	box-shadow: none;
	background: #fff;
}
.mui-bar-nav~.mui-content{
	padding-top: 65px;
}
.map{
	width: 100%;
	background: url(../../../images/map_01.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
}
.map-bg{
	position: absolute;
	top: 0;left: 0;
	background: url(../../../images/commodity_display_02.png) no-repeat;
	background-size: cover;
	width: 100%;
}
.date p{
	text-align: center;
}.date p:first-child{
	color: #aaa;
	font-size: 14px;
	margin-top: 25px;
}
.date p:last-child{
	color: #222;
	font-size: 16px;
}
.btn{
	text-align: center;
	padding: 40px 15px 0;
}
.btn button{
	width: 100%;
	height: 45px;
	background: linear-gradient(to right,#ef3c09,#ec6100);
	border-radius: 22px;
	line-height: 45px;
	text-align: center;
	border: none;
	font-size: 18px;
	color: #fff;
	padding: 0;
}
